{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Constancia Completada!</title>
    <link rel="stylesheet" href="{% static 'css/final.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav id="menu">
            <ul>
                <li><a href="#Temas">Inicio</a></li>
                <li><a href="#Temas">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
                <li class="back-btn">
                    <a href="/homeuser">
                        <button>Salir</button>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>

    <div class="content">
        <div class="completion-container">
            <img src="{% static 'images/graduation.png' %}" alt="Graduation Hat" class="graduation-hat">
            <h2>¡Felicidades por completar el programa!</h2>
            <p>Has concluido las actividades de la página “Contigo Tu Carrera Universitaria”.
                <br>
                Te deseamos mucho éxito en esta nueva etapa que estás por iniciar.
                <br>
                Descarga la constancia del cierre de esta actividad. 
            </p>
            <button id="downloadCertificate" class="btn download-button">Descargar constancia</button>
        </div>
    </div>
    <canvas id="confettiCanvas"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <script src="{% static 'js/final.js' %}"></script>
</body>
<script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const navLinks = menu.querySelectorAll("ul li a");
    
    // Abrir o cerrar el menú al hacer clic en el botón toggle
    menuToggle.addEventListener("click", () => {
        menu.classList.toggle("active");
    });
    
    // Cerrar el menú cuando se hace clic en un enlace
    navLinks.forEach(link => {
        link.addEventListener("click", () => {
            menu.classList.remove("active");
        });
    });
    
    // Cerrar el menú al hacer clic fuera del header
    document.addEventListener("click", (event) => {
        const isClickInsideMenu = menu.contains(event.target);
        const isClickOnToggle = menuToggle.contains(event.target);
    
        if (!isClickInsideMenu && !isClickOnToggle) {
            menu.classList.remove("active");
        }
    });
  </script>
</html>
