{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav id="menu">
            <ul>
                <li><a href="#Temas">Conoce los temas</a></li>
                <li><a href="#Carrera">Carrera universitaria</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
                <li><a href="/perfil">Mi perfil</a></li>
                <li class="cancel-btn">
                    <a href="/">
                        <button>Salir</button>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>

    <div class="carrera-title">
        <h1>¡Bienvenido!<br> {{ profile.nombres }} {{profile.apellido_paterno}}</h1>
    </div>

    <!-- Imagen con el titulo -->
    <section class="info-section">
        <img src="{% static 'images/CONTIGO.png'%}" alt="Imagen de fondo" class="info-image">
    </section>

    <div id="Carrera" class="carrera-title">
        <h1>Tu Carrera Universitaria</h1>
    </div>

    <!-- Imagen interactiva carrera -->
    <main>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600">

            <!-- Background -->
            <image xlink:href="{% static 'images/Background.png' %}" x="0" y="0" width="1000" height="600" />
            
            <!-- Icono 1: Mis Intereses -->
            <a href="/primerpaso">
              <image xlink:href="{% static 'images/Mis_intereses.png' %}" x="135" y="388" width="100" height="100" />
            </a>
          
            <!-- Icono 2: Mis Talentos -->
            <a href="/segundopaso">
              <image xlink:href="{% static 'images/Mis_talentos.png' %}" x="286" y="216" width="100" height="100" />
            </a>
          
            <!-- Icono 3: Mi Entorno -->
            <a href="/tercerpaso">
              <image xlink:href="{% static 'images/Mi_entorno.png' %}" x="470" y="138" width="100" height="100" />
            </a>
          
            <a href="/cuartopaso">
              <image xlink:href="{% static 'images/Mi_universidad.png' %}" x="447" y="365" width="110" height="110" />
            </a>
          
            <!-- Icono 5: Mis Apoyos -->
            <a href="/quintopaso">
              <image xlink:href="{% static 'images/Mis_apoyos.png' %}" x="572" y="246" width="100" height="100" />
            </a>
          
            <!-- Icono 6: ¡Quiero Más! -->
            <a href="/sextopaso">
              <image xlink:href="{% static 'images/Quiero_mas.png' %}" x="651" y="116" width="100" height="100" />
            </a>
          
            <!-- Icono 7: Mi Plan de Carrera -->
            <a href="/septimopaso">
              <image xlink:href="{% static 'images/Mi_plan_de_carrera.png' %}" x="659" y="238" width="140" height="140" />
            </a>
          </svg>   
</main>

    <div class="carrera-title">
        <h1 id="Temas">Conoce los temas</h1>
    </div>

    <section class="topics">

        <div class="topic-container topic-row-1">
            <div class="topic">
                <a href="/primerpaso">
                <img src="{% static 'images/BO-10.png'%}" alt="Etapa 1 - Mis Intereses">
                </a>
            </div>
            <div class="topic">
                <a href="/segundopaso">
                <img src="{% static 'images/BO-11.png'%}" alt="Etapa 2 - Mis Talentos">
                </a>
            </div>
            <div class="topic">
                <a href="/tercerpaso">
                <img src="{% static 'images/BO-12.png'%}" alt="Etapa 3 - Mis Apoyos">
                </a>
            </div>
            <div class="topic">
                <a href="/cuartopaso">
                <img src="{% static 'images/BO-13.png'%}" alt="Etapa 4 - Mi Universidad">
                </a>
            </div>
        </div>

        <div class="topic-container topic-row-2">
            <div class="topic">
                <a href="/quintopaso">
                <img src="{% static 'images/BO-14.png'%}" alt="Etapa 5 - Mi Entorno">
                </a>
            </div>
            <div class="topic">
                <a href="/sextopaso">
                <img src="{% static 'images/BO-15.png'%}" alt="Etapa 6 - ¡Quiero Más!">
                </a>
            </div>
            <div class="topic">
                <a href="/septimopaso">
                <img src="{% static 'images/BO-16.png'%}" alt="Etapa 7 - Mi Plan de Carrera">
                </a>
            </div>
        </div>
    </section>

    <script>
        const menuToggle = document.getElementById("menu-toggle");
        const menu = document.getElementById("menu");
        const navLinks = menu.querySelectorAll("ul li a");
        
        // Abrir o cerrar el menú al hacer clic en el botón toggle
        menuToggle.addEventListener("click", () => {
            menu.classList.toggle("active");
        });
        
        // Cerrar el menú cuando se hace clic en un enlace
        navLinks.forEach(link => {
            link.addEventListener("click", () => {
                menu.classList.remove("active");
            });
        });
        
        // Cerrar el menú al hacer clic fuera del header
        document.addEventListener("click", (event) => {
            const isClickInsideMenu = menu.contains(event.target);
            const isClickOnToggle = menuToggle.contains(event.target);
        
            if (!isClickInsideMenu && !isClickOnToggle) {
                menu.classList.remove("active");
            }
        });

    </script>

</body>
</html>
