<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password_reset_email</title>
</head>
<body>
    <!-- password_reset_email.html -->
    <p>Hola,</p>
    <p>Has solicitado restablecer tu contraseña. Haz clic en el enlace a continuación para continuar:</p>
    <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    Restablecer contraseña</a></p>
    <p>Si no solicitaste este cambio, ignora este mensaje.</p>   
</body>
</html>