{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password_Reset_Form</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>

<body>
    
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Carrera universitaria</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/signin">
            <button class="cancel-btn">Cancelar</button>
        </a>
    </header>

    <div class="reset-container">
        <h2>Restablecer tu contraseña</h2>
        <p>Introduce tu correo electrónico para recibir instrucciones sobre cómo restablecer tu contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-btn">Enviar</button>
        </form>
    </div>
</body>
</html>
