{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const respuestaSi = document.getElementById("AnswerSi");
            const respuestaNo = document.getElementById("AnswerNo");
            const formSi = document.getElementById("form-si");
            const formNo = document.getElementById("form-no");
    
            const estado = document.getElementById("estado");
            const institucion = document.getElementById("institucion");
            const municipio = document.getElementById("municipio");
            const bachillerato = document.getElementById("bachillerato");
            const matricula = document.getElementById("matricula");
    
            const bachilleratoSelect = document.getElementById('bachillerato');
            const otroBachilleratoContainer = document.getElementById('otroBachilleratoContainer');
    
            // Función para actualizar los campos según procedencia
            function updateForm() {
                console.log("Actualizando el formulario...");
                if (respuestaSi.checked) {
                    console.log("Se seleccionó 'Sí'. Mostrando campos relacionados.");
                    formSi.classList.add('active');
                    formNo.classList.remove('active');
                    municipio.setAttribute('required', true);
                    bachillerato.setAttribute('required', true);
                    matricula.setAttribute('required', true);
                    estado.removeAttribute('required');
                    institucion.removeAttribute('required');
                } else if (respuestaNo.checked) {
                    console.log("Se seleccionó 'No'. Mostrando campos relacionados.");
                    formSi.classList.remove('active');
                    formNo.classList.add('active');
                    estado.setAttribute('required', true);
                    institucion.setAttribute('required', true);
                    municipio.removeAttribute('required');
                    bachillerato.removeAttribute('required');
                    matricula.removeAttribute('required');
                }
            }
    
            // Inicializa el estado del formulario
            updateForm();
    
            // Eventos para actualizar según selección de procedencia
            respuestaSi.addEventListener("change", updateForm);
            respuestaNo.addEventListener("change", updateForm);
    
            // Mostrar o esconder el campo "otro bachillerato" según la selección
            bachilleratoSelect.addEventListener('change', function () {
                if (bachilleratoSelect.value === 'otro') {
                    otroBachilleratoContainer.style.display = 'block';
                } else {
                    otroBachilleratoContainer.style.display = 'none';
                }
            });
        });
    </script>
    
</head>

<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#home">Carrera universitaria</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/signin">
            <button class="cancel-btn">Cancelar</button>
        </a>
    </header>

    <main>
        <div class="container-content">
            <h1>Formulario de Registro</h1>
            <div style="color: red; font-weight: bold;"> {{ error }} </div>
            <form action="{% url 'signup' %}" method="POST">
                {% csrf_token %}

                <label for="apellidoPaterno">Apellido Paterno:</label>
                <input type="text" id="apellidoPaterno" name="apellidoPaterno" required>

                <label for="apellidoMaterno">Apellido Materno:</label>
                <input type="text" id="apellidoMaterno" name="apellidoMaterno" required>

                <label for="nombres">Nombre(s):</label>
                <input type="text" id="nombres" name="nombres" required>

                <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>

                <label for="curp">CURP:</label>
                <input type="text" id="curp" name="curp" required>

                <!-- Nuevos campos: Correo Electrónico y Contraseña -->

                <label for="telefono">Teléfono de Contacto:</label>
                <input type="tel" id="telefono" name="telefono" required>

                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" required>
                
                <div class="password-requirements">
                    <p class="requirements-title">La contraseña debe contener al menos:</p>
                    <ul>
                        <li>8 Caracteres</li>
                        <li>1 Mayúscula y 1 Minúscula (A-Z, a-z)</li>
                        <li>1 Número (0-9)</li>
                        <li>1 Carácter Especial (@$!%*?#)</li>
                    </ul>
                </div>

                <label for="password1">Contraseña:</label>
                <input type="password" id="password1" name="password1" required>

                <label for="password2">Confirmar Contraseña:</label>
                <input type="password" id="password2" name="password2" required>

                <label for="procedencia">¿Estudiaste la preparatoria en Querétaro?</label>
                <label for="AnswerSi"><input type="radio" id="AnswerSi" name="procedencia" value="si" required>Sí</label>
                <label for="AnswerNo"><input type="radio" id="AnswerNo" name="procedencia" value="no" required>No</label>

                <!-- Formulario para cuando se selecciona "No" -->
                <div id="form-no">
                    <label for="estado">Estado donde estudiaste la preparatoria:</label>
                    <select id="estado" name="estado">
                        <option value="">Seleccione un estado</option>
                        <option value="Aguascalientes">Aguascalientes</option>
                        <option value="Baja California">Baja California</option>
                        <option value="Baja California Sur">Baja California Sur</option>
                        <option value="Campeche">Campeche</option>
                        <option value="Chiapas">Chiapas</option>
                        <option value="Chihuahua">Chihuahua</option>
                        <option value="Ciudad de México">Ciudad de México</option>
                        <option value="Coahuila">Coahuila</option>
                        <option value="Colima">Colima</option>
                        <option value="Durango">Durango</option>
                        <option value="Estado de México">Estado de México</option>
                        <option value="Guanajuato">Guanajuato</option>
                        <option value="Guerrero">Guerrero</option>
                        <option value="Hidalgo">Hidalgo</option>
                        <option value="Jalisco">Jalisco</option>
                        <option value="Michoacán">Michoacán</option>
                        <option value="Morelos">Morelos</option>
                        <option value="Nayarit">Nayarit</option>
                        <option value="Nuevo León">Nuevo León</option>
                        <option value="Oaxaca">Oaxaca</option>
                        <option value="Puebla">Puebla</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="Quintana Roo">Quintana Roo</option>
                        <option value="San Luis Potosí">San Luis Potosí</option>
                        <option value="Sinaloa">Sinaloa</option>
                        <option value="Sonora">Sonora</option>
                        <option value="Tabasco">Tabasco</option>
                        <option value="Tamaulipas">Tamaulipas</option>
                        <option value="Tlaxcala">Tlaxcala</option>
                        <option value="Veracruz">Veracruz</option>
                        <option value="Yucatán">Yucatán</option>
                        <option value="Zacatecas">Zacatecas</option>
                    </select>

                    <label for="institucion">Institución donde estudiaste:</label>
                    <input type="text" id="institucion" name="institucion">
                </div>

                <!-- Formulario para cuando se selecciona "Sí" -->
                <div id="form-si">
                    <label for="municipio">Municipio donde estudiaste:</label>
                    <select id="municipio" name="municipio">
                        <option value="">Seleccione un municipio</option>
                        <option value="Amealco de Bonfil">Amealco de Bonfil</option>
                        <option value="Arroyo Seco">Arroyo Seco</option>
                        <option value="Cadereyta de Montes">Cadereyta de Montes</option>
                        <option value="Colón">Colón</option>
                        <option value="Corregidora">Corregidora</option>
                        <option value="El Marqués">El Marqués</option>
                        <option value="Ezequiel Montes">Ezequiel Montes</option>
                        <option value="Huimilpan">Huimilpan</option>
                        <option value="Jalpan de Serra">Jalpan de Serra</option>
                        <option value="Landa de Matamoros">Landa de Matamoros</option>
                        <option value="Pedro Escobedo">Pedro Escobedo</option>
                        <option value="Peñamiller">Peñamiller</option>
                        <option value="Pinal de Amoles">Pinal de Amoles</option>
                        <option value="Querétaro">Querétaro</option>
                        <option value="San Joaquín">San Joaquín</option>
                        <option value="San Juan del Río">San Juan del Río</option>
                        <option value="Tequisquiapan">Tequisquiapan</option>
                        <option value="Tolimán">Tolimán</option>
                    </select>

                    <label for="bachillerato">Bachillerato donde estudiaste:</label>
                    <select id="bachillerato" name="bachillerato">
                        <option value="">Seleccione un bachillerato</option>
                        <option value="bachillerato1">Bachillerato 1</option>
                        <option value="bachillerato2">Bachillerato 2</option>
                        <option value="bachillerato3">Bachillerato 3</option>
                        <option value="otro">Otro</option>
                    </select>

                    <div id="otroBachilleratoContainer" style="display:none;">
                        <label for="otroBachillerato">Especifique otro bachillerato:</label>
                        <input type="text" id="otroBachillerato" name="otroBachillerato">
                    </div>

                    <label for="matricula">Matrícula:</label>
                    <input type="text" id="matricula" name="matricula">
                </div>
                    <input class="register-btn" type="submit" value="Registrar">
            </form>
        </div>
    </main>
</body>

</html>
