{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero interactivo</title>
    <link rel="stylesheet" href="{% static 'css/tablero_3paso.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="/Home/index.html">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/mi-entorno-s2">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <div class="content">
        <h1 class="title">Inventario de áreas profesionales y carreras</h1>
        <p class="paragraph-of-instructions">
            Tomando en cuenta tus resultados del test de intereses profesionales, selecciona el área que te corresponde
            para que puedas conocer las carreras universitarias que se ofertan en el estado de Querétaro.
            <br>
            <br>
            Selecciona el botón del área profesional para acceder al listado de carreras.
            <br>
            <br>
        </p>

        <!-- Dropdown buttons -->
        <div class="dropdown-container">
            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown('dropdown1')">🚀 Ciencias físicas y matemáticas</button>
                <div id="dropdown1" class="dropdown-content">
                    <input class="dropdown-search" type="text" id="searchInput1" onkeyup="filterDropdown('dropdown1', 'searchInput1')" placeholder="Buscar carrera...">
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río, Universidad Tecnológica de Querétaro, Universidad Aeronáutica en Querétaro.')">Técnico Superior Universitario en Mantenimiento Área Industrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Técnico Superior Universitario en Construcción</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Mecatrónica, Área Automatización</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Logística Área Cadena de Suministros</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Universidad Tecnológica de San Juan del Río')">Técnico Superior Universitario en Energías Renovables Área Energía Solar</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Mecánica Área Automotriz</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Universidad Tecnológica de San Juan del Río')">Técnico Superior Universitario en Procesos Industriales Área Manufactura</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Técnico Superior Universitario en Construcción Sostenible</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Técnico Superior Universitario en Procesos Industriales Área Sistemas de Gestión de la Calidad</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Nanotecnología Área Materiales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Técnico Superior Universitario en Mecatrónica Área Automatización</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Santa Rosa Jáuregui')">Ingeniería en Animación y Efectos Visuales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Universidad Tecnológica de San Juan del Río')">Técnico Superior Universitario en Tecnologías de la Información Área Desarrollo de Software Multiplataforma</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Mecánica Área Moldes y Troqueles</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Corregidora')">Técnico Superior Universitario en Mecatrónica Área Sistemas de Manufactura Flexible</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Corregidora')">Técnico Superior Universitario en Tecnologías de la Información Área Entornos Virtuales y Negocios Digitales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Tecnologías de la Información Área Infraestructura de Redes Digitales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río, Universidad Tecnológica de Querétaro')">Técnico Superior Universitario en Procesos Industriales Área Plásticos</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Instituto Tecnológico de San Juan del Río')">Ingeniería en Tecnologías de la Información y Comunicación</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Ingeniería en Redes y Telecomunicaciones</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería en Telecomunicaciones y Redes</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en Matemáticas Aplicadas</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Universidad Tecnológica de San Juan del Río')">Ingeniería en Mantenimiento Industrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Ingeniería en Tecnologías de Automatización</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en Informática</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en Actuaría</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro, Universidad Politécnica de Santa Rosa Jáuregui')">Ingeniería de Software</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Nacional Autónoma de México')">Licenciatura en Tecnología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería Física</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Santa Rosa Jáuregui')">Ingeniería en Metrología Industrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Ingeniería en Metal Mecánica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Universidad Tecnológica de San Juan del Río')">Ingeniería en Energías Renovables</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Tecnológico Nacional de México, Campus Querétaro')">Ingeniería Mecánica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Tecnológico Nacional de México, Campus Querétaro')">Ingeniería en Logística</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro, Universidad Tecnológica de Corregidora')">Ingeniería en Biotecnología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería en Computación</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Ingeniería en Telemática</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Tecnológico Nacional de México, Campus Querétaro, Instituto Tecnológico de San Juan del Río')">Ingeniería Industrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro, Universidad Autónoma de Querétaro')">Ingeniería en Nanotecnología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería Química en Materiales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Licenciatura en Diseño y Gestión de Redes Logísticas</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Tecnológico Nacional de México, Campus Querétaro')">Ingeniería en Materiales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Tecnológico Nacional de México, Campus Querétaro, Universidad Politécnica de Querétaro')">Ingeniería Mecatrónica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Aeronáutica en Querétaro')">Ingeniería en Electrónica y Control de Sistemas de Aeronaves</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Ingeniería en Procesos y Operaciones Industriales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro, Instituto Tecnológico de San Juan del Río')">Ingeniería Electromecánica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Aeronáutica en Querétaro')">Ingeniería Aeronáutica en Manufactura</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniero Agroindustrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Ingeniería en Tecnologías de Manufactura</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Nacional Autónoma de México')">Licenciatura en Ingeniería en Energías Renovables</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Ingeniería en Sistemas Computacionales</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en Contaduría Pública</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en Administración</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en Finanzas</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Licenciatura en Ciencias de Datos</a>                    
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown('dropdown2')">🧪 Ciencias biológicas, químicas 
                    y de la salud</button>
                <div id="dropdown2" class="dropdown-content">
                    <input class="dropdown-search" type="text" id="searchInput2" onkeyup="filterDropdown('dropdown2', 'searchInput2')" placeholder="Buscar carrera...">
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Técnico superior universitario en prótesis dental</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Técnico superior universitario en química área industrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico superior universitario en química área tecnología ambiental</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Corregidora')">Técnico superior universitario en química área biotecnología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Técnico superior universitario en química área tecnología farmacéutica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en microbiología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Nacional Autónoma de México')">Licenciatura en ciencias de la tierra</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Ingeniería en química farmacéutica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Nacional Autónoma de México')">Licenciatura en ciencias genómicas</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en biología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en geografía ambiental</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería agroquímica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Nacional Autónoma de México')">Licenciatura en órtesis y prótesis</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en enfermería</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en producción agropecuaria sustentable</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería biomédica</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en horticultura ambiental</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en optometría</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Nacional Autónoma de México')">Licenciatura en neurociencias</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería químico en alimentos</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Santa Rosa Jáuregui')">Licenciatura en terapia física</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en nutrición</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Médico general</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río, Universidad Autónoma de Querétaro')">Ingeniería química</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería químico ambiental</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Químico farmacéutico biólogo</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Médico veterinario zootecnista</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Ingeniería agroindustrial</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en odontología</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Técnico superior universitario en medicina prehospitalaria integral</a>
                    <a href="#" onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en enfermería por nivelación</a>                    
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown('dropdown3')">🗳️ Ciencias sociales</button>
                <div id="dropdown3" class="dropdown-content">
                    <input class="dropdown-search" type="text" id="searchInput3" onkeyup="filterDropdown('dropdown3', 'searchInput3')" placeholder="Buscar carrera...">
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Corregidora')">Técnico superior universitario en turismo área desarrollo de productos alternativos</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico superior universitario en administración área capital humano</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico superior universitario en desarrollo de negocios área servicios posventa automotriz</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Técnico superior universitario en asesor financiero cooperativo</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río, Universidad Tecnológica de Querétaro')">Técnico superior universitario en desarrollo de negocios área mercadotecnia</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Instituto del Servicio Profesional de Carrera')">Técnico superior universitario como policía investigador</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en relaciones internacionales</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en administración</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en filosofía</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en desarrollo humano para la sustentabilidad</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en desarrollo local</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en economía empresarial</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en lenguas modernas en francés</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en antropología</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en administración de tecnologías de información</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en comunicación y periodismo</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en gestión del turismo cultural y natural</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Contador público</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en criminología</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en negocios y comercio internacional</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro, Universidad Nacional Autónoma de México')">Licenciatura en negocios internacionales</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en ciencias políticas y administración pública</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en derecho</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en lenguas modernas en inglés</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en negocios turísticos</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Tecnológico Nacional de México, campus Querétaro')">Ingeniería en gestión empresarial</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Tecnológico Nacional de México, campus Querétaro, Universidad Autónoma de Querétaro')">Licenciatura en administración</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en gestión y desarrollo de empresas sociales</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Licenciatura en administración y gestión empresarial</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Politécnica de Querétaro')">Licenciatura en gestión de pequeñas y medianas empresas</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de San Juan del Río')">Licenciatura en innovación de negocios y mercadotecnia</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en gastronomía</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Licenciatura en gestión del capital humano</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Licenciatura en innovación de negocios y mercadotecnia</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en administración financiera</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en psicología</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciado en gestión pública y gobierno</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en estudios socioterritoriales</a>                    
                </div>
            </div>

            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown('dropdown4')">🎭 Humanidades y artes</button>
                <div id="dropdown4" class="dropdown-content">
                    <input class="dropdown-search" type="text" id="searchInput4" onkeyup="filterDropdown('dropdown4', 'searchInput4')" placeholder="Buscar carrera...">
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Pedagógica Nacional')">Licenciatura en educación preescolar indígena</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje de las matemáticas en educación secundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Profesional asociado en enseñanza de la lengua</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación preescolar</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Pedagógica Nacional')">Licenciatura en intervención educativa</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en inclusión educativa</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en animación digital y medios interactivos</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en restauración de bienes muebles</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en diseño y comunicación visual</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en innovación y gestión educativa</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en lenguas modernas en español</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Pedagógica Nacional')">Licenciatura en educación</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje de la biología en educación secundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje de la geografía en educación secundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en docencia del arte</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en artes visuales</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación física</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje del español en educación secundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación primaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Técnico superior universitario en lengua inglesa</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Pedagógica Nacional')">Licenciatura en educación primaria indígena</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje del inglés en educación secundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en humanidades y producción de imágenes</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en historia</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en danza folklórica mexicana</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Escuela de Laudería')">Licenciatura en laudería</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en actuación</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Escuela Normal Superior de Querétaro, Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje de la historia en educación secundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en arte danzario</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en estudios literarios</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en diseño industrial</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Tecnológica de Querétaro')">Licenciatura en gestión institucional educativa y curricular</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en educación física y ciencias del deporte</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en música</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en música popular contemporánea</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en educación y mediación intercultural</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera, Escuela Normal Superior de Querétaro')">Licenciatura en enseñanza y aprendizaje en telesecundaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Colegio Nacional de Danza Contemporánea')">Licenciatura en danza contemporánea</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Universidad Autónoma de Querétaro')">Licenciatura en composición musical para medios audiovisuales y escénicos</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Escuela Normal Superior de Querétaro, Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje del español</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación física</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en inclusión educativa</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación preescolar</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en enseñanza y aprendizaje de las matemáticas</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación primaria</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación preescolar</a>
                    <a onclick="selectItem(this), showInfo('Universidades disponibles: Centenaria y Benemérita Escuela Normal del Estado de Querétaro Andrés Balvanera')">Licenciatura en educación inicial</a>                                    
                </div>
            </div>

        </div>

        <!-- Display event information here -->
        <div id="info-text" class="info-box">Selecciona una carrera para ver más detalles.</div>
        
    </div>

    <div class="navigation-buttons">
        <a href="/mi-entorno-s2">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="back-button">
        </a>
        <a href="/video-tercer-paso">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="continue-button">
        </a>
    </div>
    
    <script src="{% static 'js/tablero_3paso.js'%}"></script>
    
</body>
</html>
