{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tablero</title>
    <link rel="stylesheet" href="{% static 'css/tablero_6paso.css' %}" />
  </head>
  <body>
    <header>
      <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo" />
      <nav id="menu">
        <ul>
          <li><a href="/homeuser">Inicio</a></li>
          <li><a href="/temas">Conoce los temas</a></li>
          <li><a href="/aboutprogram">Acerca del programa</a></li>
          <li class="back-btn">
            <a href="/sextopaso">
              <button>Salir</button>
            </a>
          </li>
        </ul>
      </nav>
      <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>

    <div class="container">
      <div class="main-content">
        <div class="card-deck">
          <div class="row">
            <div
              class="card"
              data-university="Universidad Politécnica de Santa Rosa Jauregui"
              data-video="https://www.youtube.com/embed/6gk8trmkcPA?si=HRFBlWqyOufkppnw"
              data-pdf="https://drive.google.com/file/d/1o2OMPLiTt4u_tQM7sDD3BfjSQ4p73Mte/view?usp=drive_link" 
            >
              <h3 class="card-title">
                Universidad Politécnica de Santa Rosa Jauregui
              </h3>
              <img src="{% static 'images/LogosUNIS/UPSRJ.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Aeronáutica en Querétaro"
              data-video="https://www.youtube.com/embed/9VbWCF5wwEU?si=daPY3gl64lO2aVhG"
            >
              <h3 class="card-title">Universidad Aeronáutica en Querétaro</h3>
              <img src="{% static 'images/LogosUNIS/UNAQ.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Tecnológica de San Juan del Río"
              data-video="https://www.youtube.com/embed/HJK-bj_vgC0?si=PdX8qEIDaIb0CfTF"
            >
              <h3 class="card-title">
                Universidad Tecnológica de San Juan del Río
              </h3>
              <img src="{% static 'images/LogosUNIS/UTSJR.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">San Juan del Río, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Politécnica de Querétaro"
              data-video="https://www.youtube.com/embed/VIDEO_ID"
              data-pdf="https://drive.google.com/file/d/1_ygiSDRTsmZJ9Dn2_-151DcLZQFLYwja/view?usp=drive_link"
            >
              <h3 class="card-title">Universidad Politécnica de Querétaro</h3>
              <img src="{% static 'images/LogosUNIS/UPQ.png' %}" alt="Logo de la
              Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Tecnológica de Corregidora"
              data-video="https://www.youtube.com/embed/HY87SX76f6U?si=0S6fLWEvo3EXnCsM"
            >
              <h3 class="card-title">Universidad Tecnológica de Corregidora</h3>
              <img src="{% static 'images/LogosUNIS/UTC.png' %}" alt="Logo de la
              Universidad" class="card-img" />
              <p class="card-text">Corregidora, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Tecnológica de Querétaro"
              data-video="https://www.youtube.com/embed/GDXPaRWaLnY?si=fX0NnHzm6yoSjFZV"
              data-pdf="https://drive.google.com/file/d/1EqeMjMnfaTL8_oycimj4XKRf6Rw9ume4/view?usp=drive_link"
            >
              <h3 class="card-title">Universidad Tecnológica de Querétaro</h3>
              <img src="{% static 'images/LogosUNIS/UTEQ.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
          </div>

          <div class="row">
            <div
              class="card"
              data-university="Universidad Autónoma de Querétaro"
              data-video="https://www.youtube.com/embed/VIDEO_ID"
            >
              <h3 class="card-title">Universidad Autónoma de Querétaro</h3>
              <img src="{% static 'images/LogosUNIS/UAQ.png' %}" alt="Logo de la
              Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Tecnológico de México campus Querétaro"
              data-video="https://www.youtube.com/embed/VIDEO_ID"
            >
              <h3 class="card-title">Tecnológico Nacional de México</h3>
              <img src="{% static 'images/LogosUNIS/TECNM.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Tecnológico de México campus San Juan del Río"
              data-video="https://www.youtube.com/embed/NH4FvsBCJPo?si=0FAuzpSt8tG_Lx-s"
              data-pdf="https://drive.google.com/file/d/1EqeMjMnfaTL8_oycimj4XKRf6Rw9ume4/view?usp=drive_link"
            >
              <h3 class="card-title">Tecnológico Nacional de México</h3>
              <img src="{% static 'images/LogosUNIS/TECNM.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">San Juan del Río, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Escuela Nacional de Estudios Superiores U.N.A.M"
              data-video="https://www.youtube.com/embed/HXU7kXIjZsc?si=B_oStDQ6jzXudtFf"
            >
              <h3 class="card-title">
                Escuela Nacional de Estudios Superiores
              </h3>
              <img src="{% static 'images/LogosUNIS/ENES_Juriquilla.png' %}"
              alt="Logo de la Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Centenaria Y Benemérita Escuela Normal del Estado De Querétaro 'Andrés Balvanera'"
              data-video="https://www.youtube.com/embed/VIDEO_ID"
            >
              <h3 class="card-title">
                Centenaria Y Benemérita Escuela Normal del Estado De Querétaro
                "Andrés Balvanera"
              </h3>
              <img src="{% static 'images/LogosUNIS/CBENEQ.png' %}" alt="Logo de
              la Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro.</p>
            </div>
            <div
              class="card"
              data-university="Universidad Pedagógica Nacional campus Querétaro"
              data-video="https://www.youtube.com/embed/VIDEO_ID"
            >
              <h3 class="card-title">Universidad Pedagógica Nacional</h3>
              <img src="{% static 'images/LogosUNIS/UPN.png' %}" alt="Logo de la
              Universidad" class="card-img" />
              <p class="card-text">Santiago de Querétaro, Qro</p>
            </div>
          </div>

    <!--MODAL -->
    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close-button">&times;</span>
        <div class="modal-body">
          <div class="modal-info">
            <h2 id="modal-title">Título de la Universidad</h2>
            <div class="modal-video-container">
                <iframe id="modal-video-src" class="modal-video" width="100%" height="400"
                        src="" 
                        frameborder="0" 
                        allowfullscreen>
                </iframe>
              </div>
            <a id='pdf-button' href="" target="_blank" class="pdf-button">Descargar PDF</a>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation-buttons">
      <a href="/sextopaso">
        <img
          src="{% static 'images/Regresar.png'%}"
          alt="Boton-regresar"
          class="btn back-button"
        />
      </a>
      <a href="/septimopaso">
        <img
          src="{% static 'images/Continuar.png'%}"
          alt="Boton-continuar"
          class="btn continue-button"
        />
      </a>
    </div>
  </body>
  <script src="{% static 'js/tablero_6paso.js' %}"></script>
  <script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const navLinks = menu.querySelectorAll("ul li a");

    // Abrir o cerrar el menú al hacer clic en el botón toggle
    menuToggle.addEventListener("click", () => {
      menu.classList.toggle("active");
    });

    // Cerrar el menú cuando se hace clic en un enlace
    navLinks.forEach((link) => {
      link.addEventListener("click", () => {
        menu.classList.remove("active");
      });
    });

    // Cerrar el menú al hacer clic fuera del header
    document.addEventListener("click", (event) => {
      const isClickInsideMenu = menu.contains(event.target);
      const isClickOnToggle = menuToggle.contains(event.target);

      if (!isClickInsideMenu && !isClickOnToggle) {
        menu.classList.remove("active");
      }
    });
  </script>
</html>
