{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="#">Carrera universitaria</a></li>
                <li><a href="#">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/signin">
            <img src="{% static 'images/INICIAR.png'%}" alt="Boton-iniciar" class="login-btn">
        </a>
    </header>

    <!-- Imagen con el titulo -->
    <section class="info-section">
        <img src="{% static 'images/CONTIGO.png'%}" alt="Imagen de fondo" class="info-image">
    </section>

    <div class="carrera-title">
        <h1>Tu Carrera Universitaria</h1>
    </div>

    <!-- Imagen interactiva -->

<!-- Card sin modales 
    <div class="carrera-title">
        <h1>Conoce los temas</h1>
    </div>

    <section class="topics">

        <div class="topic-container topic-row-1">
            <div class="topic">
                <a href="/primerpaso">
                <img src="{% static 'images/BO-10.png'%}" alt="Etapa 1 - Mis Intereses">
                </a>
            </div>
            <div class="topic">
                <a href="/segundopaso">
                <img src="{% static 'images/BO-11.png'%}" alt="Etapa 2 - Mis Talentos">
                </a>
            </div>
            <div class="topic">
                <a href="/tercerpaso">
                <img src="{% static 'images/BO-12.png'%}" alt="Etapa 3 - Mi Entorno">
                </a>
            </div>
            <div class="topic">
                <a href="/cuartopaso">
                <img src="{% static 'images/BO-13.png'%}" alt="Etapa 4 - Mi Universidad">
                </a>
            </div>
        </div>

        <div class="topic-container topic-row-2">
            <div class="topic">
                <a href="/quintopaso">
                <img src="{% static 'images/BO-14.png'%}" alt="Etapa 5 - Mis apoyos">
                </a>
            </div>
            <div class="topic">
                <a href="/sextopaso">
                <img src="{% static 'images/BO-15.png'%}" alt="Etapa 6 - ¡Quiero Más!">
                </a>
            </div>
            <div class="topic">
                <a href="/septimopaso">
                <img src="{% static 'images/BO-16.png'%}" alt="Etapa 7 - Mi Plan de Carrera">
                </a>
            </div>
        </div>

    </section>
-->

<!-- Card con modales -->
    <div class="carrera-title">
        <h1>Conoce los temas</h1>
    </div>

    <section class="topics">

        <div class="topic-container topic-row-1">
            <div class="topic" onclick="openModal('modal_Etapa1')">
            <img src="{% static 'images/BO-10.png'%}" alt="Etapa 1 - Mis Intereses">
            </a>
            </div>
            <div class="topic" onclick="openModal('modal_Etapa2')">
            <img src="{% static 'images/BO-11.png'%}" alt="Etapa 2 - Mis Talentos">
            </a>
            </div>
            <div class="topic" onclick="openModal('modal_Etapa3')">
            <img src="{% static 'images/BO-12.png'%}" alt="Etapa 3 - Mi Entorno">
            </a>
            </div>
            <div class="topic" onclick="openModal('modal_Etapa4')">
            <img src="{% static 'images/BO-13.png'%}" alt="Etapa 4 - Mi Universidad">
            </a>
            </div>
        </div>

        <div class="topic-container topic-row-2">
            <div class="topic" onclick="openModal('modal_Etapa5')">
            <img src="{% static 'images/BO-14.png'%}" alt="Etapa 5 - Mis apoyos">
            </a>
            </div>
            <div class="topic" onclick="openModal('modal_Etapa6')">
            <img src="{% static 'images/BO-15.png'%}" alt="Etapa 6 - ¡Quiero Más!">
            </a>
            </div>
            <div class="topic" onclick="openModal('modal_Etapa7')">
            <img src="{% static 'images/BO-16.png'%}" alt="Etapa 7 - Mi Plan de Carrera">
            </a>
            </div>
        </div>

    </section>

    <!-- Ventanas Modales -->
    <div id="modal_Etapa1" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa1')">&times;</span>
            <h2>Paso 1: Mis intereses</h2>
            <p><strong>¡Conócete!</strong></p>
            <p>Descubre la importancia del autoconocimiento y cuál es su impacto en la selección de carrera.</p>
            <p>En este paso, podrás explorar tu personalidad. ¡Te invitamos a <a href="/signin">registrarte aquí</a>!</p>
        </div>
    </div>    


    <div id="modal_Etapa2" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa2')">&times;</span>
            <h2>Paso 2: Mis talentos</h2>
            <p><strong>¡Explora!</strong></p>
            <p>Identifica tu perfil profesional a partir de reconocer cuáles son tus habilidades, intereses y necesidades.</p>
            <p>En este paso, explorarás contenido interactivo y realizarás un test.</p>
        </div>
    </div>  

    <div id="modal_Etapa3" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa3')">&times;</span>
            <h2>Paso 3: Mi entorno</h2>
            <p><strong>¡Infórmate!</strong></p>
            <p>En este paso te daremos consejos para que conozcas cuáles son las necesidades y 
            requisitos que las empresas e industria requieren de un profesionista. 
            ¡Te acercaremos al campo laboral del estado de Querétaro!</p>

        </div>
    </div>  

    <div id="modal_Etapa4" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa4')">&times;</span>
            <h2>Paso 4: Mi universidad</h2>
            <p><strong>¡Prepárate!</strong></p>
            <p>¿Conoces la oferta educativa del estado de Querétaro?</p>
            <p>En este paso te brindaremos un directorio de las principales universidades con la 
            información más relevante para que puedas elegir en donde te gustaría estudiar.</p>
        </div>
    </div>  

    <div id="modal_Etapa5" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa5')">&times;</span>
            <h2>Paso 5: Mis apoyos</h2>
            <p><strong>¡Optimiza tus opciones!</strong></p>
            <p>Te invitamos a seguir las recomendaciones para descubrir los diferentes tipos de becas a
            los que puedes acceder, así como sus requisitos.</p>
    </div>
        </div>
    </div>
    
    <div id="modal_Etapa6" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa6')">&times;</span>
            <h2>Paso 6: ¡Quiero más!</h2>
            <p><strong>¡Desarróllate!</strong></p>
            <p>Las universidades ofrecen mucho más que conocimientos académicos, te invitan a desarrollarte en 
            otras áreas como actividades culturales, sociales, deportivas y de internalización.</p>
            <p>En este paso encontrarás los programas extracurriculares que promueven las universidades a 
            favor de tu formación integral.</p>
        </div>
    </div>  

    <div id="modal_Etapa7" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('modal_Etapa7')">&times;</span>
            <h2>Paso 7: Mi plan de carrera</h2>
            <p><strong>¡Organízate!</strong></p>
            <p>Con todo lo que has revisado, es momento de que te organices y tomes una decisión.</p>
            <p>En este paso podrás realizar tu plan de carrera y elegir la carrera y universidad de tu interés.</p>
        </div>
    </div> 

    <script src="{% static 'js/modals.js' %}"></script>
    
</body>
</html>
