* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4996C6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Oculta las barras de desplazamiento */
}

header {
    background-color: #242B57;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header .logo {
    width: 350px;
}

header nav {
    margin-left: auto;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 50px;
}

header nav ul li:hover {
    transition: transform 0.3s;
    transform: scale(1.05);
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.back-btn a button {
    background: linear-gradient(to bottom, #59b2e0, #3c8fc1);
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #ffffff;
    border-radius: 22px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0px 4px 0px #2b6d9a;
    text-align: center;
    transition: all 0.2s ease-in-out;
    width: 150px;
    margin: 0 auto;
    display: block;
}

.back-btn a button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

header .menu-toggle {
    display: none;
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}

/* Test Container */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.test-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 700px;
    animation: fadeIn 1s ease-in-out;
}

.test-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
    color: #242B57;
}

.test-instructions {
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    color: #6c757d;
}

p {
    text-align: center;
}

/* Pregunta */
.question {
    background: #f7f9fc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Ocultas por defecto */
    animation: slideIn 0.5s ease-in-out;
}

.question.active {
    display: block;
}

.question p {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}

.options {
    display: flex;
    justify-content: space-between;
}

.options label {
    font-size: 16px;
    color: #242B57;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.options label:hover {
    background-color: #242B57;
    color: #ffffff;
}

.options input[type="radio"]:checked + label {
    background-color: #357ABD;
    color: #ffffff;
    border-color: #357ABD;
}

/* Botones */
.navigation-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.back-button {
    background-color: #e0e0e0;
    color: #333;
}

.back-button:hover {
    background-color: #d6d6d6;
    transform: scale(1.05);
}

.continue-button {
    background-color: #242B57;
    color: #ffffff;
}

.continue-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(38, 70, 83, 0.2);
}

/* Barra de progreso */
.progress-container {
    width: 100%;
    background-color: #e0e0e0;
    height: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: linear-gradient(90deg, #4a90e2 0%, #357ABD 100%);
    width: 0%;
    transition: width 0.4s;
    border-radius: 6px;
}

.modal {
    display: none; /* Oculta la modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro transparente */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la modal */
    background: linear-gradient(145deg, #f9f9f9, #eaeaea);
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    animation: scaleIn 0.3s ease-out; /* Animación */
}

.modal-content p {
    color: #333;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    margin: 15px 0;
    line-height: 1.5;
}

.close {
    color: #888;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #444;
    text-decoration: none;
}

/* Botón en la Modal */
.modal-content button {
    background-color: #242B57; /* Azul corporativo */
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(4, 70, 139, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal-content button:hover {
    background-color: #3f4a95;
    transform: scale(1.05);
}

.modal-content button:active {
    background-color: #343e7e;
    transform: scale(0.98);
}

/* Animación de entrada */
@keyframes scaleIn {
    from {
        transform: scale(0.8) translate(-50%, -50%);
        opacity: 0;
    }
    to {
        transform: scale(1) translate(-50%, -50%);
        opacity: 1;
    }
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {

    header nav {
        display: flex; /* Siempre flex para la animación */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #242B57;
        flex-direction: column;
        text-align: center; /* Alinear los elementos a la izquierda */
        padding-left: 20px;
        z-index: 10;
        max-height: 0; /* Ocultar inicialmente */
        overflow: hidden; /* Ocultar el contenido fuera del contenedor */
        opacity: 0;
        transform: translateY(-20px); /* Mover el menú hacia arriba */
        transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    }

    header nav.active {
        max-height: 500px; /* Altura máxima del menú desplegado */
        opacity: 1; /* Mostrar el menú */
        transform: translateY(0); /* Volverlo a su posición */
    }

    header .logo {
        width: 300px;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center; /* Centrar ítems verticalmente */
        align-items: center; /* Centrar ítems horizontalmente */
    }

    header nav ul li {
        margin: 15px 0;
        opacity: 0;
        transform: translateX(-20px); /* Mover los ítems hacia la izquierda */
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    header nav ul li:nth-child(1) {
        transition-delay: 0.1s; /* Retraso individual */
    }

    header nav ul li:nth-child(2) {
        transition-delay: 0.2s;
    }

    header nav ul li:nth-child(3) {
        transition-delay: 0.3s;
    }

    header nav ul li:nth-child(4) {
        transition-delay: 0.4s;
    }

    header nav ul li:nth-child(5) {
        transition-delay: 0.5s;
    }

    header nav.active ul li {
        opacity: 1;
        transform: translateX(0);
    }

    header nav.active ul li:hover {
        transform: scale(1.05);
        transition: transform 0.3s;
    }

    header nav ul li a {
        font-size: 1.2rem;
        transition: color 0.3s ease-in-out;
        text-align: center; /* Centra los títulos en el menú toggle */
    }

    .cancel-btn a button {
        width: auto; /* Adaptar ancho al contenido */
        margin: 0 auto; /* Centrar el botón */
    }

    header .menu-toggle {
        display: block;
    }

    nav.active {
        display: flex;
    }
}
