{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descargar Formato</title>
    <link rel="stylesheet" href="{% static 'css/formato_paso1.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav id="menu">
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="#">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
                <li class="back-btn">
                    <a href="/primerpaso">
                        <button>Salir</button>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>

    <div class="content">
        <div class="download-container">
            <h2 class="download-title">El árbol de los logros</h2>
            <p class="paragraph-of-instructions">
            Es hora de explorar esos elementos que te hacen tan único y especial.<br>
            Descarga el documento y sigue las indicaciones para realizar la actividad.</p>
            <a href="https://drive.google.com/file/d/1Qf3MoqU3RiQIuktK_EPW7gHMu7jaEf63/view?usp=drive_link" target="_blank" class="btn download-button" download>Descargar formato</a>
        </div>
    </div>
    
    <div class="navigation-buttons">
        <a href="/video-primer-paso">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="back-button">
        </a>
        <a href="/mis-intereses-s2">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="continue-button">
        </a>
    </div>
</body>
<script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const navLinks = menu.querySelectorAll("ul li a");
    
    // Abrir o cerrar el menú al hacer clic en el botón toggle
    menuToggle.addEventListener("click", () => {
        menu.classList.toggle("active");
    });
    
    // Cerrar el menú cuando se hace clic en un enlace
    navLinks.forEach(link => {
        link.addEventListener("click", () => {
            menu.classList.remove("active");
        });
    });
    
    // Cerrar el menú al hacer clic fuera del header
    document.addEventListener("click", (event) => {
        const isClickInsideMenu = menu.contains(event.target);
        const isClickOnToggle = menuToggle.contains(event.target);
    
        if (!isClickInsideMenu && !isClickOnToggle) {
            menu.classList.remove("active");
        }
    });
</script>
</html>
