{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autoestima y autoconcepto</title>
    <link rel="stylesheet" href="{% static 'css/presentacion_paso1.css'%}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/primerpaso">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <div class="content">
        <div class="presentation-container">
            <h2 class="presentation-title">Autoestima y autoconcepto</h2>
            <p class="paragraph-of-instructions">Amarse a uno mismo y reconocer nuestras fortalezas y 
            áreas de oportunidad son esenciales en  el desarrollo de la autoestima, 
            Explora que otros elementos la integran en la siguiente presentación interactiva.<br>
            Pulsa los diferentes elementos de cada página para descubrir información. 
            Utiliza las flechas laterales  para navegar<br>en las diferentes páginas. </p>
            <!-- Presentación interactiva -->
            <div style="width: 700px;">
                <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                    <iframe 
                        title="autoestima y autoconcepto" 
                        frameborder="0" 
                        width="1200" 
                        height="675" 
                        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                        src="https://view.genially.com/6660a929d0707a001462c535" 
                        type="text/html" 
                        allowscriptaccess="always" 
                        allowfullscreen="true" 
                        scrolling="yes" 
                        allownetworking="all">
                    </iframe>
                </div>
            </div>
        <div class="controls-container">
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="/imagen-primer-paso">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="btn back-button">
        </a>
        <a href="/video-primer-paso">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="btn continue-button">
        </a>
    </div>
</body>
</html>
