{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados del Test de Intereses</title>
    <link rel="stylesheet" href="{% static 'css/resultados_paso1.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="/Home/index.html">Conoce los temas</a></li>
                <li><a href="/Home/index.html">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/mis-intereses-s2">
            <img src="{% static 'images/Salir.png' %}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <div class="content">
        <div class="result-container">
            <h2>Resultados del Test de Inteligencias multiples</h2>
            <div id="results"></div>
            <div class="navigation-buttons">
                <button id="continueButton" class="btn continue-button">Continuar</button>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const results = new URLSearchParams(window.location.search).get('results');
            if (results) {
                document.getElementById("results").innerText = decodeURIComponent(results);
            }

            document.getElementById("continueButton").addEventListener("click", function() {
                window.location.href = "/segundopaso";
            });
        });
    </script>
</body>
</html>
