{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valores y la autoestima</title>
    <link rel="stylesheet" href="{% static 'css/video_paso1.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="#services">Conoce los temas</a></li>
                <li><a href="#contact">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/primerpaso">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <div class="content">
        <div class="video-container">
            <h2 class="video-title">Valores y la autoestima</h2>
            <p class="paragraph-of-instructions">¿Sabías que los valores son parte de quién somos?<br>
            Observa el siguiente vídeo para conocer más sobre el tema y 
            su importancia en el desarrollo de la autoestima.</p>
                
            <iframe src="https://drive.google.com/file/d/1EDpyBWdVGQNtgp4oZz7cSe1DCdbPyvc9/preview" width="700px" height="400px" allow="autoplay"></iframe>
            <!--<video id="video" controls>
                <source src="" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.-->
            </video>
        </div>
        <div class="controls-container">
            <!-- Aquí puedes agregar otros controles para el video -->
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="/presentacion-primer-paso">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="btn back-button">
        </a>
        <a href="/formato-primer-paso">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="btn continue-button">
        </a>
    </div>
</body>
</html>
