{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis apoyos seccion 1</title>
    <link rel="stylesheet" href="{% static 'css/quintopaso.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav id="menu">
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="/temas">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>

    <!-- Imagen con el titulo -->
    <section class="info-section">
        <div class="container">
            <div class="main-content">
                <img src="{% static 'images/Apoyos.png'%}" alt="Imagen con fines ilustrativos">
                <h2>Paso 5. Mis apoyos</h2>
                <p><b>¡Optimiza tus opciones!</b></p>
                <p class="instrucciones">
                    Identifica los diferentes tipos de becas a los que puedes acceder e
                    infórmate sobre los requisitos y pasos a seguir para acceder a una beca.
                    <br><br>
                    Las actividades son secuenciales, por lo que será  necesario que las
                    completes para avanzar al siguiente paso. 
                </p>
            </div>

            <div class="sidebar">
                <h2>Becas</h2>

                <a href="/imagen-quinto-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/Tipos_becas.png'%}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Tipos de becas</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ request.user.profile.progreso_imagenquintopaso}}%;"></div>
                            </div>
                            <span>{{ request.user.profile.progreso_imagenquintopaso}}% completado</span>
                        </div>
                    </div>
                </a>

                <a href="/tablero-quinto-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/Becas_vigentes.png'%}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Becas vigentes</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ request.user.profile.progreso_tableroquintopaso}}%;"></div>
                            </div>
                            <span>{{ request.user.profile.progreso_tableroquintopaso}}% completado</span>
                        </div>
                    </div>
                </a>

                <a href="/infografia-quinto-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/Solicitar_beca.png'%}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Recomendaciones para solicitar una beca</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ request.user.profile.progreso_infografiaquintopaso}}%;"></div>
                            </div>
                            <span>{{ request.user.profile.progreso_infografiaquintopaso}}% completado</span>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </section>

    <div class="navigation-buttons">
        <a href="/cuartopaso" class="btn back-button">Regresar</a>
        <a href="/sextopaso" id="continue-btn" class="btn continue-button disabled">Continuar</a>
    </div>
    
</body>
<script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const navLinks = menu.querySelectorAll("ul li a");
    
    // Abrir o cerrar el menú al hacer clic en el botón toggle
    menuToggle.addEventListener("click", () => {
        menu.classList.toggle("active");
    });
    
    // Cerrar el menú cuando se hace clic en un enlace
    navLinks.forEach(link => {
        link.addEventListener("click", () => {
            menu.classList.remove("active");
        });
    });
    
    // Cerrar el menú al hacer clic fuera del header
    document.addEventListener("click", (event) => {
        const isClickInsideMenu = menu.contains(event.target);
        const isClickOnToggle = menuToggle.contains(event.target);
    
        if (!isClickInsideMenu && !isClickOnToggle) {
            menu.classList.remove("active");
        }
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Obtener los valores de progreso desde Django
      let progresoImagenquintopaso = {{ request.user.profile.progreso_imagenquintopaso }};
      let progresoTableroquintopaso = {{ request.user.profile.progreso_tableroquintopaso }};
      let progresoInfografiaquintopaso = {{ request.user.profile.progreso_infografiaquintopaso }};
      // Verificar si todos los progresos están al 100%
      if (
        progresoImagenquintopaso === 100 &&
        progresoTableroquintopaso === 100 &&
        progresoInfografiaquintopaso === 100 
      ) {
        document.getElementById("continue-btn").classList.remove("disabled");
        document.getElementById("continue-btn").removeAttribute("style");
      } else {
        document.getElementById("continue-btn").style.pointerEvents = "none";
        document.getElementById("continue-btn").style.opacity = "0.5";
      }
    });
  </script>
</html>
