{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi plan de carrera seccion 2</title>
    <link rel="stylesheet" href="{% static 'css/mp_s2.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav id="menu">
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="/temas">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>

    <!-- Imagen con el titulo -->
    <section class="info-section">
        <div class="container">
            <div class="main-content">
                <img src="{% static 'images/Plan2.png' %}" alt="Imagen con fines ilustrativos">
                <h2>Paso 7. Mi plan de carrera</h2>
                <p><b>¡Llegó el momento!</b></p>
                <p class="instrucciones">
                    Con la selección de la carrera profesional de tu interés, llega el momento de conocer
                    los últimos detalles para iniciar tu proceso de postulación a la universidad de tu elección.
                    <br>
                    <br>
                    Las actividades son secuenciales, por lo que será  necesario que las completes para avanzar al siguiente paso.                                    
                  </p>
            </div>

            <div class="sidebar">
                <h2>Último paso</h2>

                <a href="/infografia-septimo-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/IMAGEN.png' %}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>Agenda de postulación</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ request.user.profile.progreso_infografiaseptimopaso}}%;"></div>
                            </div>
                            <span>{{ request.user.profile.progreso_infografiaseptimopaso}}% completado</span>
                        </div>
                    </div>
                </a>

                <a href="/formato2-septimo-paso" class="progress-item-link">
                    <div class="progress-item">
                        <img src="{% static 'images/FORMATO.png' %}" alt="Imagen ilustrativa" class="progress-img">
                        <div class="progress-info">
                            <p>¡Inscríbete!</p>
                            <div class="progress-bar">
                                <div class="progress" style="width: {{ request.user.profile.progreso_formato2septimopaso}}%;"></div>
                            </div>
                            <span>{{ request.user.profile.progreso_formato2septimopaso}}% completado</span>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </section>

    <div class="navigation-buttons">
        <a href="/septimopaso" class="btn back-button">Regresar</a>
        <a href="/final" id="continue-btn" class="btn continue-button disabled">Continuar</a>
    </div>

</body>
<script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const navLinks = menu.querySelectorAll("ul li a");
    
    // Abrir o cerrar el menú al hacer clic en el botón toggle
    menuToggle.addEventListener("click", () => {
        menu.classList.toggle("active");
    });
    
    // Cerrar el menú cuando se hace clic en un enlace
    navLinks.forEach(link => {
        link.addEventListener("click", () => {
            menu.classList.remove("active");
        });
    });
    
    // Cerrar el menú al hacer clic fuera del header
    document.addEventListener("click", (event) => {
        const isClickInsideMenu = menu.contains(event.target);
        const isClickOnToggle = menuToggle.contains(event.target);
    
        if (!isClickInsideMenu && !isClickOnToggle) {
            menu.classList.remove("active");
        }
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Obtener los valores de progreso desde Django
      let progresoInfografiaseptimopaso = {{ request.user.profile.progreso_infografiaseptimopaso }};
      let progresoFormato2septimopaso = {{ request.user.profile.progreso_formato2septimopaso }};

      // Verificar si todos los progresos están al 100%
      if (
        progresoInfografiaseptimopaso === 100 &&
        progresoFormato2septimopaso === 100 
      ) {
        document.getElementById("continue-btn").classList.remove("disabled");
        document.getElementById("continue-btn").removeAttribute("style");
      } else {
        document.getElementById("continue-btn").style.pointerEvents = "none";
        document.getElementById("continue-btn").style.opacity = "0.5";
      }
    });
  </script>
</html>
