{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frase Motivacional</title>
    <link rel="stylesheet" href="{% static 'css/frase_paso2.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="/Home/index.html">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/segundopaso">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>
    <!-- Contenido principal -->
    <div class="content">
        <div class="motivational-container">
            <h2 class="motivational-title">Ama lo que haces</h2>
            <div class="image-container">
                <!--Imagen de Genially-->
                <div style="width: 700px;">
                    <div style="position: relative; padding-bottom: 56.25%; padding-top: 0; height: 0;">
                        <iframe 
                            title="Frase" 
                            frameborder="0" 
                            width="1200" 
                            height="675" 
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;" 
                            src="https://view.genially.com/6679966f7dffcc0014bbffd0" 
                            type="text/html" 
                            allowscriptaccess="always" 
                            allowfullscreen="true" 
                            scrolling="yes" 
                            allownetworking="all">
                        </iframe>
                    </div>
                </div>

                
                <!-- Imagen motivacional -->
                <!-- <img src="{% static 'images/Motivacion.png'%}" alt="Imagen Motivacional"> -->
                <!-- <p class="quote">"El único modo de hacer un gran trabajo es amar lo que haces." - Steve Jobs</p> -->
            </div>
            <div class="footer">
                <p>
                    ¿Y tú, qué amas hacer?<br>
                    Reflexiona sobre ello y pasa a la siguiente actividad.
                </p>
            </div>
        </div>
    </div>

    <div class="navigation-buttons">
        <a href="/segundopaso">
            <img src="{% static 'images/Regresar.png'%}" alt="Boton-regresar" class="back-button">
        </a>
        <a href="/presentacion-segundo-paso">
            <img src="{% static 'images/Continuar.png'%}" alt="Boton-continuar" class="continue-button">
        </a>
    </div>
</body>
</html>
