{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instrucciones del Test de intereses profesionales</title>
    <link rel="stylesheet" href="{% static 'css/instrucciones_paso2.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/LOGOS.png'%}" alt="Logo" class="logo">
        <nav id="menu">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="#">Conoce los temas</a></li>
                <li><a href="/aboutprogram">Acerca del programa</a></li>
                <li class="back-btn">
                    <a href="/segundopaso">
                        <button>Salir</button>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="menu-toggle" id="menu-toggle">&#9776;</div>
    </header>
    
    <div class="content">
        <div class="instructions-container">
            <h2>Instrucciones del test de intereses profesionales</h2>
            <p>Bienvenido al test de intereses profesionales. 
                A continuación se te presentarán una serie de preguntas que nos ayudarán a 
                identificar tus áreas de interés profesional. Por favor, responde con sinceridad y sin prisas. 
                El objetivo es que podamos sugerirte las áreas profesionales que más se alineen con tus intereses.</p>
            <ol>
                <li>Lee cada pregunta cuidadosamente.</li>
                <li>Selecciona la respuesta que mejor describa tu experiencia o sentimiento.</li>
                <li>No hay respuestas correctas o incorrectas, solo tus intereses personales.</li>
                <li>Una vez completado el test, haz clic en "Ver Resultados" para ver tu área profesional recomendada.</li>
            </ol>
            <button onclick="window.location.href='/test-segundo-paso'" class="continue-button">Comenzar el test</button>
        </div>
    </div>
</body>
<script>
    const menuToggle = document.getElementById("menu-toggle");
    const menu = document.getElementById("menu");
    const navLinks = menu.querySelectorAll("ul li a");
    
    // Abrir o cerrar el menú al hacer clic en el botón toggle
    menuToggle.addEventListener("click", () => {
        menu.classList.toggle("active");
    });
    
    // Cerrar el menú cuando se hace clic en un enlace
    navLinks.forEach(link => {
        link.addEventListener("click", () => {
            menu.classList.remove("active");
        });
    });
    
    // Cerrar el menú al hacer clic fuera del header
    document.addEventListener("click", (event) => {
        const isClickInsideMenu = menu.contains(event.target);
        const isClickOnToggle = menuToggle.contains(event.target);
    
        if (!isClickInsideMenu && !isClickOnToggle) {
            menu.classList.remove("active");
        }
    });
</script>
</html>
