{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de intereses profesionales</title>
    <link rel="stylesheet" href="{% static 'css/test_paso2.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <img src="{% static 'images/LOGOS.png' %}" alt="Logo" class="logo">
        <nav>
            <ul>
                <li><a href="/homeuser">Inicio</a></li>
                <li><a href="/Home/index.html">Conoce los temas</a></li>
                <li><a href="/Home/index.html">Acerca del programa</a></li>
            </ul>
        </nav>
        <a href="/segundopaso">
            <img src="{% static 'images/Salir.png'%}" alt="Boton-salir" class="cancel-btn">
        </a>
    </header>

    <!-- Barra de progreso -->
    <div class="progress-container">
        <div class="progress-bar" id="progressBar"></div>
    </div>

    <!-- Contenedor del test -->
    <div class="content">
        <div class="test-container">
            <h2 class="test-title">Test de intereses profesionales</h2>
            <form id="testForm">
                
                <div class="question" data-question="1">
                    <p>Me han compartido que soy buen vendedor (a).</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question1" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question1" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="2">
                    <p>Sé cómo manejar herramientas mecánicas básicas.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question2" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question2" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="3">
                    <p>Entiendo bien el lenguaje digital.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question3" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question3" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="4">
                    <p>Soy capaz de hacer varias cosas al mismo tiempo de forma organizada.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>
                
                <div class="question" data-question="5">
                    <p>Mi familia tiene un negocio familiar en el que suelen pedirme ayuda.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="6">
                    <p>Me resulta fácil proponer mejoras a procesos que ya existen.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="7">
                    <p>Me gusta armar y desarmar objetos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="8">
                    <p>Me interesa lo relacionado con la electrónica, mecánica y programación de equipos para la industria.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="9">
                    <p>Se me facilita aprender nuevos idiomas.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="10">
                    <p>Me gustaría saber sobre los procesos de importación y exportación.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="11">
                    <p>Conozco o he manejado algún software de diseño.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="12">
                    <p>Tengo interés por las tecnologías de la información.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="13">
                    <p>Estoy a la vanguardia en tecnología, gadgets y aplicaciones.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="14">
                    <p>Puedo analizar indicadores para mejorar o solucionar problemas de productividad y eficiencia.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="15">
                    <p>Me gustaría diseñar productos innovadores, más accesibles y de mejor calidad.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="16">
                    <p>Entiendo y estoy a favor de la educación a distancia.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="17">
                    <p>Puedo sostener una conversación sobre Inteligencia artificial y robots.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="18">
                    <p>Puedo analizar, interpretar y redactar información.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="19">
                    <p>Me interesan los temas globales y las diferentes culturas.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="20">
                    <p>Podría sostener una conversación sobre temas sociales.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="21">
                    <p>Estoy de acuerdo en que el mundo puede ser dibujado con un lenguaje matemático.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="22">
                    <p>Tengo interés o alguna vez he programado.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="23">
                    <p>Siempre me he considerado una persona emprendedora.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="24">
                    <p>Soy bueno (a) evaluando riesgos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="25">
                    <p>Me gusta investigar el porqué de las cosas.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="26">
                    <p>Se me facilitan las matemáticas y la física.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="27">
                    <p>Sé organizar mis actividades y mis tiempos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="28">
                    <p>Tengo facilidad de palabra y negociación.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>
                
                <div class="question" data-question="29">
                    <p>Disfruto el diseño.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="30">
                    <p>Soy bueno (a) resolviendo acertijos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="31">
                    <p>Soy extrovertido (a) y me gusta tratar con gente.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="32">
                    <p>La gente me reconoce como una persona ordenada y sistematizada.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="33">
                    <p>Me agradaría aprender a solucionar problemas y tengo disposición a ayudar.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="34">
                    <p>Me interesan y conozco los procesos de automatización.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="35">
                    <p>Me integro bien a cualquier equipo de trabajo.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="36">
                    <p>Considero que la imagen personal es importante para diferenciarte de los demás.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="37">
                    <p>Cuando siento curiosidad por algún tema lo investigo.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="38">
                    <p>Se me facilita seguir instrucciones para armar un objeto.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="39">
                    <p>Suelo ser organizado (a) al planear mi día.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="40">
                    <p>Tengo un buen entendimiento de las personas y sus comportamientos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="41">
                    <p>Soy bueno (a) arreglando cosas que se descomponen.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="42">
                    <p>Considero que el mundo puede estar mejor interconectado.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="43">
                    <p>Soy dedicado (a) para el estudio.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="44">
                    <p>Poseo habilidades de liderazgo y se dar instrucciones.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="45">
                    <p>Podría nombrar facilmente 7 marcas de vehículos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="46">
                    <p>Me siento seguro (a) trabajando con máquinas de gran tamaño.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="47">
                    <p>Considero que las máquinas facilitan la tarea de los humanos.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="48">
                    <p>Me siento cómodo (a) aportando ideas en un trabajo en equipo.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="49">
                    <p>Me han dicho que soy una persona sensible.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="50">
                    <p>El cuerpo humano es una máquina increible.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="51">
                    <p>Soy bueno resolviendo conflictos entre personas.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="52">
                    <p>Me interesa la gente y como se organiza la sociedad.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="53">
                    <p>Suelo participar en movimientos sociales.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="54">
                    <p>Si me enfermo, suelo saber qué hacer para autocuidarme.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="55">
                    <p>No se me dificulta leer a las personas.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question4" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question4" value="no"> No
                        </label>
                    </div>
                </div>

                <div class="question" data-question="56">
                    <p>Tengo buena capacidad de reacción.</p>
                    <div class="options">
                        <label>
                            <input type="radio" name="question35" value="si"> Sí
                        </label>
                        <label>
                            <input type="radio" name="question35" value="no"> No
                        </label>
                    </div>
                </div>
                
            </form>
        </div>
    </div>

    <!-- Botones de navegación -->
    <div class="navigation-buttons">
        <button id="prevButton" class="btn back-button">Anterior</button>
        <button id="nextButton" class="btn continue-button">Siguiente</button>
        <button type="submit" form="testForm" id="submitButton" class="btn continue-button" style="display:none;">Enviar</button>
    </div>

    <script src="{% static 'js/test_segundopaso.js' %}"></script>
</body>
</html>